# DBDoctor Configuration File
# Copy this file to .env and fill in actual values
# Note: .env file contains sensitive information, DO NOT commit to version control

# DBDoctor API Base URL
DBDOCTOR_URL=http://[host]:[port]

# Login Username (also used as UserId)
DBDOCTOR_USER=[username]

# Login Password (stored in plaintext, will be AES encrypted by program)
DBDOCTOR_PASSWORD=[password]
